/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Poppins", sans-serif;
}
/* Variaveis */
:root {
    --second-color: #ff4494;
    --text-color: #001244;
    --container-color: #01282f;
    --bg-color: #fff;
    --text-alter-color: hsla(248, 67%, 5%, 0.6);
}