<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullStack Blog</title>
    <!-- Link do CSS -->
    <link rel="stylesheet" href="/CSS/style.css">
    <!-- Fonte-icones-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="nav container">
            <!-- Logo -->
            <a href="#" class="logo">FullStack<span>Blog</span></a>
            <!-- Nav Direita -->
            <div class="nav-right">
                <a href="/admin" class="admin-btn"><i class='bx bx-user'></i></a>
                <a href="/add" class="write-btn"><i class='bx bx-pencil'></i>Write</a>
            </div>
        </div>
    </header>
</body>
</html>